

.contactUsForm #sent{
	margin: 10px;
	border: 1px solid #1D661D;
	padding: 5px;
	border-radius: 3px;
	background: #9CC788;
	color: #2C5302;
	text-align: center;
	text-shadow: 0 0 1px #F5F5F5;
	display: none;
}

#contact-form{
	margin: 15px;
}

#contact-form > div {
	display:inline-block;
	float:right;
	clear:both;
	margin-bottom:10px;
	position:relative;
}

#contact-form > div > .label {
	display:inline-block;
	float:right;
	min-width: 110px;
	white-space: nowrap;
	height:25px;
}
#contact-form > div > .input {
	float:right;
	height:30px;
	width : 450px;
	border:1px solid #cccccc;
}
#contact-form > div > .txt-input{
	float:right;
	width : 450px;
	height: 200px;
	overflow:auto;
	border:1px solid #cccccc;
	resize:none;
	font-family:inherit;
}
#contact-form > div > .submit {
	margin-right:110px;
	min-width:90px;
	height: 25px;
	cursor:pointer;
	border-radius:2px;
	border:1px solid #cccccc;
 	background: -moz-linear-gradient(top,#F8F8F8, #E6E6E6);
	background: -webkit-gradient(linear, center top, center bottom, from(#F8F8F8), to(#E6E6E6));
	background-image:-ms-linear-gradient(#F8F8F8 0%, #E6E6E6 100%);
	font-family:inherit;
}
#contact-form > div > input.error,#contact-form > div > textarea.error {
	box-shadow: 0px 0 2px #FFCBCB;
}
#contact-form > div[dir="ltr"] label.error{
	left:auto;
	right:19.3%;
}
#contact-form > div[data-textarea] label.error{
	top:auto;
	bottom:1.5%;
}

label.error{
	float: left;
	font-size: 12px;
	margin-right: 5px;
	color: #FFF;
	position: absolute;
	top: 10.5%;
	left: 0.5%;
	z-index: 1;
	border-radius: 3px;
	border: 1px solid #910000;
	padding: 0px 10px;
	background: #CF7474;
}