.def-page{
	margin : 5px;
	overflow: hidden;
}
.def-page-title{	
	height: 60px;
	line-height: 50px;
	font-size: 2.3em;
	background: #FFC000;
	color: #FFF;
	padding-right: 10px;
	margin: 10px;
	border-radius: 3px;
	border: 1px solid #C7632B;
	text-shadow: 0 0 1px #FFF;
}
.def-page-content{


}
.textContent{
 margin: 10px;
}