.home{ overflow: hidden;}
.home .category_main{
	display:block;
	margin-bottom : 15px;
	height : 370px;
	padding : 0; 
	width : 100%;
	overflow : hidden;
}
.home .category_main .title{
	height: 60px;
	line-height: 50px;
	font-size: 2.3em;
	background: #FFC000;
	color: #FFF;
	padding-right: 10px;
	margin: 10px;
	border-radius: 3px;
	border: 1px solid #C7632B;
	text-shadow: 0 0 1px #FFF;
}
.home .category_main .title a{
	color: inherit;
}
.home .category_main .title a:hover{
	text-decoration: underline;
}
.home .category_main .items{
	height : 310px;
	overflow:hidden;
}
.home .category_main .items .row{
	float: right;
	width : 390px;
	height : 310px;
	margin-left : 30px;	
	overflow:hidden;
	background:#484848;
}
.home .category_main .items .row a{
	color:inherit;
}
.home .category_main .items .row a span{
	padding: 0px 15px;
	color:#ffffff;
	font-size: 1.2em;
	display:block;
}
.home .category_main .items .row:first-child{
	margin-right : 10px;
}
.home .category_main .items .row:last-child{
	margin-left: 10px;
}
.adv600x90{
	width : 600px;
	height : 90px;
	overflow:hidden;
	background:#D8D8D8;
	outline : 1px solid #454545;
	margin: 10px 10px 0px 10px;
}


.mainArticles .leftPanel,.mainArticles .rightPanel{
	width:600px;
	height:400px;
	float:right;
	margin : 10px 10px 0 10px;
	overflow:hidden;
}
.mainArticles .leftPanel{
	float:left;
}

.mainArticles .row{
	float: right;
	width : 600px;
	height : 400px;
	margin-left : 30px;	
	overflow:hidden;
}
.videoBigImageDiv {
	display:block;
	position:relative;
	width : 600px;
	height: 300px;
	overflow:hidden;
}
.videoBigImageDiv img{
	position:absolute;
	top:0px;
	left:0px;
}
.mainArticles .row a{
	color:inherit;
	position:relative;
	display:block;
}
.mainArticles .row a span{
	padding: 0px 15px;
	color:#ffffff;
	font-size: 1.2em;
	display:block;
	height:90px;
	background: rgba(0, 0, 0, 0.4);
	width: 570px;
	margin-top: 10px;
}

