@import url("fontSet.css");
@import url("homePageSet.css");
@import url("innderPageSet.css");
@import url("def-Page.css");
@import url("contactUs.css");

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,form,fieldset,input,textarea,p,blockquote,th,td {padding: 0;margin: 0;}
table {border-collapse: collapse;border-spacing: 0;}
ol,ul {list-style: none;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;font-size: 100%;}
abbr,acronym,a { border: 0;outline:none}

.alignleft {float: left;}
.alignright {float: right;}
.clear {clear: both;}
.center {text-align: center;}
.left {text-align: left;}
.right {text-align: right;}
.small {font-size: 0.8em;}
.hidden {display: none;}

BODY{
	overflow:auto;
	font-family: "HelveticaNeueLTW20",Tahoma;	margin:0px;	padding:0px;	font-size:14px;	direction:rtl;
	background: -moz-linear-gradient(top,#E3E1E1 0%,#E2E0E0 18%,#F6F5F5 78%,#F7F6F6 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#E3E1E1),color-stop(18%,#E2E0E0),color-stop(78%,#F6F5F5),color-stop(100%,#F7F6F6));
	background: -webkit-linear-gradient(top,#E3E1E1 0%,#E2E0E0 18%,#F6F5F5 78%,#F7F6F6 100%);
	background: -o-linear-gradient(top,#E3E1E1 0%,#E2E0E0 18%,#F6F5F5 78%,#F7F6F6 100%);
	background: -ms-linear-gradient(top,#E3E1E1 0%,#E2E0E0 18%,#F6F5F5 78%,#F7F6F6 100%);
	background: linear-gradient(top,#E3E1E1 0%,#E2E0E0 18%,#F6F5F5 78%,#F7F6F6 100%);
	background-attachment: fixed;
	background-image:-ms-linear-gradient(#e3e1e1 0%, #f7f6f6 100%);
	text-align:right;
}
#mainWarpper{width:100%;min-height:650px;margin:0px auto}

#header{
overflow:hidden; 
height:100px;border-bottom:1px solid #BEBEBE;
background: -moz-linear-gradient(top,#5C5C5C, #242625);
background: -webkit-gradient(linear, center top, center bottom, from(#5C5C5C), to(#242625));
background-image:-ms-linear-gradient(#5C5C5C 0%, #242625 100%);
}
#header .slide-cont{ display:none;}
#header .slide-details{ display:none;}

#header.home{
overflow:hidden; 
height:400px;border-bottom:1px solid #BEBEBE;
background: -moz-linear-gradient(top,#5C5C5C, #242625);
background: -webkit-gradient(linear, center top, center bottom, from(#5C5C5C), to(#242625));
background-image:-ms-linear-gradient(#5C5C5C 0%, #242625 100%);
}
#header.home .slide-cont{ display:inline-block;overflow:hidden}
#header.home .slide-details{ display:inline-block;}



.slide-cont #slide-cont-inner{
	position: absolute;
}
.slide-cont #slide-cont-inner .slide-element{
	display:inline-block;
}
.slide-cont .play-icon{
cursor: pointer;
width: 100px;
height: 100px;
background: url('../images/play-button.png');
position: absolute;
left: 42%;
top: 35%;
display:none;
}
.slide-cont:hover .play-icon{
	display:inline-block
}
.slide-cont .slide-prev-btn,.slide-cont .slide-next-btn{
	position : absolute;
	height: 86px;
	width: 60px;
	right: 0px;
	top:40%;
	background : url('../images/d14.png') right top no-repeat; 
	cursor: pointer;
}
.slide-cont .slide-next-btn{
	left: 0px;
	right: auto;
	background-position: left top;
}
.slide-cont .slide-next-btn:hover{
	background-position: left bottom;
}
.slide-cont .slide-prev-btn:hover{
	background-position: right bottom;
}

a.websiteName{
	float: right;
	display: inline-block;
	width : 300px;
	height : 100px;
	background: url(../images/Horse-home.png) center right no-repeat;
	padding-right: 70px;
}
a.websiteName h1{ 
	line-height: 65px;
	margin: 0px 15px 0;
	color: #FFBE0F;
	font-weight: bold;
	font-size: 3.5em;	
	font-style: italic;
	text-shadow: 0 1px 0px #AFAFAF;
	white-space: nowrap;
}
.home a.websiteName{
	height : 240px;
}
.home a.websiteName h1{ 
	line-height: 80px;
	margin: 70px 15px 0;
	font-size: 5em;
}
a.websiteName h1 > span,a.websiteName h2 > span{
	color:#FF9900
}
a.websiteName h2{ 
	color: #FFC000;
	font-size: 1.5em;
	line-height: 20px;
	margin-right: 17px;
	font-style: italic;
	text-shadow: 0 1px 0px #AFAFAF;
}
.home a.websiteName h2{
	font-size: 2em;
}

.contWrapper{
	width:1250px;
	height:100%;
	margin:0px auto;
	overflow: hidden;
	background : url('../images/arabisque.png') repeat-x top right;
}


#contentWrapper{width:1252px; margin:0px auto;overflow:hidden}
#sidebar{}
#mainContent{width:1250px; margin:10px auto; border:1px solid #BEBEBE;background:rgba(255, 255, 255, 0.45);min-height:400px;overflow:hidden }
#footer{
	height: 39px;	line-height: 39px;	box-shadow: 0 0 0 1px white;	margin-top: 10px;	clear: both;
	color:#5F5F5F;	border-top: 1px solid #CFCFCF;	background: #EFEFEF;
	background: -moz-linear-gradient(top,#EFEFEF 0%,#E6E6E6 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#EFEFEF),color-stop(100%,#E6E6E6));
	background: -webkit-linear-gradient(top,#EFEFEF 0%,#E6E6E6 100%);
	background: -o-linear-gradient(top,#EFEFEF 0%,#E6E6E6 100%);
	background: -ms-linear-gradient(top,#EFEFEF 0%,#E6E6E6 100%);
	background: linear-gradient(top,#EFEFEF 0%,#E6E6E6 100%);
	background-image:-ms-linear-gradient(#EFEFEF 0%, #E6E6E6 100%);
}
a{text-decoration:none;outline:none;}
img{border:0;}



.map{width:800px; height:409px; background:url(../images/World_Map.png) no-repeat center; margin:0px auto;padding:20px 112px}

#registerForm{width:356px;margin:10px auto;padding:15px;float:right;margin-right:40px}
#registerForm span{display:block;}
#registerForm div.input,#registerForm  input{display:block;width:100%;margin-bottom:5px;}
#registerForm  input[type="text"]{padding:2px;border:1px solid #bebebe;border-radius:4px;height:28px; line-height:28px;}
#registerForm  input[type="password"]{padding:2px;border:1px solid #bebebe;border-radius:4px;height:28px; line-height:28px;}
#registerForm  select{padding:2px;border:1px solid #bebebe;border-radius:4px;height:28px; line-height:28px;}




.top-bar-con {
	background : #646464;
	border-bottom : 1px solid #222222;
	height:39px;
	overflow : hidden;
	display:block;
	width: 100%;
}
.top-bar-inner{
	display:block;
	width: 100%;
	height : 37px;
	border-bottom : 1px solid #606060;
	background: #484848;
	overflow:hidden;
}
.page_center{
	width : 1250px;
	margin : 0px auto;
	overflow:hidden;
}
.top-bar-inner .social{
	float:left;	
}
.top-bar-inner .social a {
	display: inline-block;
	border-right : 1px solid #242424;
	padding:5px;
	width : 25px;
	height : 25px;
} 
.top-bar-inner .social a.facebook{
	background:url("../images/facebook.png") 3px 7px no-repeat;
}
.top-bar-inner .social a.twitter{
	background:url("../images/twitter.png") 3px 7px no-repeat;
}
.top-bar-inner .social a.youtube{
	background:url("../images/youtube.png") 3px 7px no-repeat;
}




.slide-cont{
	position: relative;
	z-index: 1;
	box-shadow: 0 0 25px 2px #3F3F3F;
	float: left;
	background: #F8F8F8;
	width: 620px;
	height: 320px;
	margin-top: 40px;
}
.slide-details{
    position: relative;
    border-top-right-radius: 30px;
    margin-top: -40px;
    float: left;
    width: 560px;
    height: 70px;
    background: #FFC000;
    border-bottom-right-radius: 30px;
    z-index: 0;	
	color: #333;
	font-size: 1.2em;
	padding: 5px 10px;
	text-shadow: 0 1px 1px #FFF;
	height: 120px;
	width: 600px;
}
.main-menu-con{
	height : 43px;	
 	background: -moz-linear-gradient(top,#F8F8F8, #E6E6E6);
	background: -webkit-gradient(linear, center top, center bottom, from(#F8F8F8), to(#E6E6E6));
	background-image:-ms-linear-gradient(#F8F8F8 0%, #E6E6E6 100%);
}
.main-menu-inner{
	height : 40px;
	width:1250px;
	margin : 0px auto;
	overflow:hidden;
}
.main-menu-line{
	height : 3px;
	background:#FFC000;
}

#menu{}
#menu ul{ display:table-row ;}
#menu ul li{ display:table-cell;border-right:1px solid #BEBEBE;height:40px;line-height:40px; }
#menu ul li:last-child{ border-left:1px solid #BEBEBE;}
#menu ul li.selected,#menu ul li:hover{background:#FFC000}
#menu ul li a{color:#252525;display:block;padding:0px 15px; line-height:40px;}


div.pagination{
	display:block;
	height : 25px;
	margin : 15px auto;
}
div.pagination a,div.pagination .current{
	display: inline-block;
	color: #1D1D1D;
	min-width: 30px;
	padding: 0px 15px;
	height: 25px;
	background: #BDBDBD;
	border: 1px solid #484848;
	cursor: pointer;
	outline: none;
	line-height: 29px;
	margin-left: 1px;
}
div.pagination a:hover,div.pagination .current:hover,div.pagination .current{
	color: #FFF;
	border: 1px solid #484848;
	background: #777575;
	box-shadow: 0px 0px 4px #000;
}
.shareaholic-div{
	height: 55px;
	display:block;
	overflow: hidden;
	border: 1px solid #cccccc;
	width : 858px;	
	margin-top: 15px;
	margin-bottom: 15px;
	background: -moz-linear-gradient(top,#FFFFFF, #F5F5F5);
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#F5F5F5));
	background-image:-ms-linear-gradient(#FFFFFF 0%, #F5F5F5 100%);
}
#facebook-comments-div{

}
.fb-comments-title{
	display:block;
	overflow: hidden;
	color: #000000;
	padding:5px 15px;
	width : 828px;
	border: 1px solid #cccccc;
	background: -moz-linear-gradient(top,#FFFFFF, #F5F5F5);
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#F5F5F5));
	background-image:-ms-linear-gradient(#FFFFFF 0%, #F5F5F5 100%);
}

div.fb-comments {
	padding: 15px;
	overflow: hidden;
	display:block;
	background: #FFF;
	border: 1px solid #cccccc;
	float: right;
	width : 828px;
	margin-top: 15px;
	margin-bottom: 15px;
	height:auto!important;
	background: -moz-linear-gradient(top,#FFFFFF, #F5F5F5);
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF), to(#F5F5F5));
	background-image:-ms-linear-gradient(#FFFFFF 0%, #F5F5F5 100%);
}
div.fb-comments>span,div.fb-comments iframe, .fbFeedbackContent{
	height:auto!important;
	position:relative;
}
div.fb-comments iframe body{
	font-family: "HelveticaNeue",Tahoma ;
}


.bigImageContainer,.bigImageContainer-inner{
	position:relative;
	width:390px;
	height:219px;
	overflow:hidden
}
.bigImageContainer-inner{
	width:300px; 
}
.bigImageContainer img,.bigImageContainer-inner img{
	position: absolute;
	top: 0px;
}


#gallery-container ul{
	list-style: none;
	padding: 0;
}
#gallery-container ul > li {
	margin-top: 20px;
	text-align: center;
}

#gallery-container ul > li > img {
	transition: opacity .3s ease-in;
	display: inline-block;
	max-width: 700px;
} 
